/* DARK MODE + KOLORKI */

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --line-color: #000000;
  --hover-background: #b1b1b180;
  --selected-border: #0000ff;
  --selection-background: #7373ffab;
}

html[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #F7F8F8;
  --line-color: #c9c9c9;
  --hover-background: #ffffff33;
  --selected-border: #3838ff;
  --selection-background: #9090ffab;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

/* DARK MODE + KOLORKI */

:root {
  --line-thickness: 3px;
  --line-thickness-x2: calc(var(--line-thickness) * 2);
  --line-offset: calc(50% - (var(--line-thickness) / 2));
  --line-offset-x2: calc(50% - (var(--line-thickness-x2) / 2));

  --element-width: 100px;
  --element-height: 70px;
}

.hidden {
  visibility: hidden;
}


#scale {
  min-width: 275px;
}

hr {
  pointer-events: none;
}

#menu-bar > *{
  vertical-align: middle;
}

.arrow-grid {
  display: inline-grid;
  grid-template-columns: 30px 30px 30px;
  grid-template-rows: 30px 30px 30px;
}

.ldRender {
  transform-origin: top left;
  width: fit-content;
  list-style-type: none;
  counter-reset: section;
  padding: 0;
}

/* .ldLine */

.ldLine {
  display: inline-flex; /* https://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
  border-left: 2px var(--line-color) solid;
  border-right: 2px var(--line-color) solid;
}

.ldLine > * {
  display: inline-block;
  vertical-align: top;

  user-select: none;

  width: var(--element-width);
  height: var(--element-height);
  max-width: var(--element-width);
  max-height: var(--element-height);
  min-width: var(--element-width);
  min-height: var(--element-height);
}

.ldLine > *:hover{
  background-color: var(--hover-background);
}

.ldLine-container {
  display: flex;
}

.ldLine-container::before {
  width: 2em;
  overflow: hidden;
  text-align: right;
  counter-increment: section;
  content: counter(section) ".";
  vertical-align: top;
}

/* .ldLine */

/* .ldElement */

.ldElement-description {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.ldElement-description:hover {
  overflow: visible;
  background-color: var(--hover-background);
  /* TODO: zrobić popup z opisem / dodać tag TITLE z całym opisem */
}

.ldElement {
  position: relative;
}

.ldElement::before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: -69;
  /* łeeh widać siatke w chrome bo transform scale, w firefox działa tak jak chce*/
}

.ldElement.cursor::before {
  border: var(--line-thickness-x2) solid var(--selected-border);
}

.ldElement.selected::before{
  background-color: var(--selection-background);
}

.ldElement-center-reference {
  position: absolute;
  width: var(--line-thickness);
  background-color: red;
  height: 100%;
  top: 0%;
  left: var(--line-offset);
}

.ldElement-id-container {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.ldElement-id {
  text-align: center;
}

/* .ldElement */

/* .ldLine-element */

.ldLine-top, .ldLine-bottom, .ldLine-middle, .ldLine-left, .ldLine-right {
  position: absolute;
  background-color: var(--line-color);
}

.ldLine-top {
  top: 0%;
  left: var(--line-offset);
  width: var(--line-thickness);
  height: var(--line-offset);
}

.ldLine-bottom {
  bottom: 0%;
  left: var(--line-offset);
  width: var(--line-thickness);
  height: var(--line-offset);
}

.ldLine-middle {
  top: var(--line-offset);
  left: var(--line-offset);
  width: var(--line-thickness);
  height: var(--line-thickness);
}

.ldLine-left {
  top: var(--line-offset);
  left: 0%;
  width: var(--line-offset);
  height: var(--line-thickness);
}

.ldLine-right {
  top: var(--line-offset);
  right: 0%;
  width: var(--line-offset);
  height: var(--line-thickness);
}

.ldLine-disabled {
  /* visibility: hidden; */
  background-color: #00000000;
}

.ldLine-disabled.ldLine-top, .ldLine-disabled.ldLine-bottom{
  left: var(--line-offset-x2);
  width: var(--line-thickness-x2);
}

.ldLine-disabled.ldLine-left, .ldLine-disabled.ldLine-right{
  top: var(--line-offset-x2);
  height: var(--line-thickness-x2);
}

.ldLine-disabled:hover {
  background: var(--hover-background);
}

/* .ldLine-element */

/* .ldIO-element */

.ldIO-element-left, .ldIO-element-right {
  background-color: var(--line-color);
  position: absolute;
  top: var(--line-offset);
  width: 30%;
  height: var(--line-thickness);
}

.ldIO-element-left {
  left: 0%;
}

.ldIO-element-right {
  right: 0%;
}

.ldIO-element-center {
  position: absolute;
  top: 30%;
  left: 30%;
  width: calc(40% - var(--line-thickness-x2));
  height: 40%;
  border-left: var(--line-thickness) solid var(--line-color);
  border-right: var(--line-thickness) solid var(--line-color);
}

.ldIO-element-output {
  border-radius: 50%;
  margin-top: calc(var(--line-thickness) * -1);
  border-top: var(--line-thickness) solid #00000000;
  border-bottom: var(--line-thickness) solid #00000000;
  /* border: var(--line-thickness) solid var(--line-color); */
}

.ldIO-element-negation {
  background-color: var(--line-color);
  width: 100%;
  height: 100%;
  /* clip-path: polygon(calc(0% - var(--line-thickness)) 0, 0 0, calc(100% + var(--line-thickness)) 100%, 100% 100%); <- do cipy */
  clip-path: polygon(calc(0% - var(--line-thickness-x2)) 0, 0 0, calc(100% + var(--line-thickness-x2)) 100%, 100% 100%);
}

.ldIO-element-set-reset {
  margin-top: var(--line-thickness);
  text-align: center;
  vertical-align: middle;
  font-size: larger;
}

/* .ldIO-element */

/* .ldBlock-element */

.ldBlock-element-left, .ldBlock-element-right {
  background-color: var(--line-color);
  position: absolute;
  top: var(--line-offset);
  height: var(--line-thickness);
  width: var(--line-thickness-x2);
}

.ldBlock-element-left {
  left: 0%;
}

.ldBlock-element-right {
  right: 0%;
}

.ldBlock-element-center {
  position: absolute;
  top: 30%;
  height: 38%;
  width: calc(100% - var(--line-thickness-x2) * 3);
  border: var(--line-color) var(--line-thickness) solid;
  left: var(--line-thickness-x2);

  text-align: center;
}

/* .ldBlock-element */

/* .ldTimer-description */

.ldTimer-description {
  display: inline-block;
}

.ldTimer-description-subtext {
  font-size: xx-small;
  font-weight: bold;
}

/* .ldTimer-description */